body {
    font-family: 'Sawarabi Mincho', sans-serif;
    background-color: lightblue;
    text-align: center;
    color: black;
    width: 100%;
}

container {
    width: auto;
    margin: 15px auto;
}

header {
    height: 150px;
    padding: 10px 0px;
    font-size: 60px;
}

.underscores {
    height: 200px;
    font-size: 80px;

}

.wrong-guesses {
    height: 80px;
    font-size: 60px;
}

.scoreboard {
    height: 80px;
    font-size: 80px;
}